<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7824.0">
	<connectionStrings>
		<add connectionString="data source=LAPTOP-I8FOB9EQ\MSSQLSERVER01;UID=sa;PWD=sasa;initial catalog=dbSitefinity14ForCore" name="Sitefinity" />
	</connectionStrings>
</dataConfig>