<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.1.7824.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="6D6293223CE598CAC57C0790F7CB41F25F4FC85182FC981F9D3927DFDBD17E517FB699B86524522757ADCFCB19AA9788677039D34A9EA8F4213976B6867FFD1F" decryptionKey="BEF469B1CD2BF15D15AE337E3B5183F15DB48EB2454D23BC152A7F7102D21087" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="EEB6E43CA7203B66C4D0DB2CA0E1C0DFD0CA477905745933C0C19EAEF869838D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="EEB6E43CA7203B66C4D0DB2CA0E1C0DFD0CA477905745933C0C19EAEF869838D" realm="http://localhost" />
	</relyingParties>
</securityConfig>