@using Renderer.Entities;

@model CustomNewsEntity


<div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12">
                            <h2 class="mb-4">Our <u class="text-info">Story</u></h2>
                        </div>

                        <div class="col-lg-6 col-12">
                            <h3 class="mb-3">@Model.Title</h3>

                            <p>@Model.Body</p>

                            <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="@Model.SpeakersLink">Meet Speakers</a>

                            <a class="custom-btn btn custom-link mt-3" href="@Model.ScheduleLink">Check out Schedule</a>
                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut dolore</h4>

                            <div class="avatar-group border-top py-5 mt-5">
                                <img src="/images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg" class="img-fluid avatar-image" alt="">

                                <img src="/images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <img src="/images/avatar/senior-man-white-sweater-eyeglasses.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <img src="/images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg" class="img-fluid avatar-image avatar-image-left" alt="">

                                <p class="d-inline">120+ People are attending with us</p>
                            </div>
                        </div>

                    </div>
                </div>